{{> layout/header}}
{{> layout/navbar}}

<body>

<div class="container">
    {{#trainer}}
    <h1 class="pt-md-5 pb-md-5">Trainer {{name}}</h1>
    <h2 class="pt-md-5 pb-md-5">Pokemons</h2>

    <div class="card-deck">
        {{#team}}
        <div class="col-md-3">
            <div class="card shadow-sm mb-3">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{level}} <!--2--><span class="badge badge-secondary">Id {{pokemonTypeId}} <!--3--></span></h4>
                </div>
            </div>
        </div>
        {{/team}}
    </div>
    {{/trainer}}

</div>

</body>
</html>